
a{    
    text-decoration: none;
    color: inherit;
}

body{    
    margin: 0;
    padding: 0;
    background-color: rgb(247, 247, 247);
}

.container{
    width: 1440px;
    margin: 0 auto;
    padding: 0;
}

.header{    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: #0C0C0E;
    color: #FFF;
}

/*
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
*/

ul.menu{
    display: flex;
    list-style: none;
}

li.menu-item{
    padding-right: 30px;    
}

.header-header{
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;    
    /* margin: 20px 370px 20px 20px; */
    margin: 20px 0 20px 20px;
    flex-grow: 1;
}

.menu-link{
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: color 1s;
}

.menu-link:hover{  
  color: #BB945F;
}

img.icon-img{
    padding: 0 20px;
}

section.welcome{
    height: 600px;
    /* background-color: #BB945F; */
    background-image: url('../images/welcome.png');
    position: relative;
}

div.overlay{
    width: 1440px;
    height: 300px;
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);    
    position: absolute;
}

div.welcomeheader{
    width: 520px;
    height: 150px;
    padding: 35px 40px;
    background-color: #0C0C0E;
    /* position: absolute; */
    position: relative;
    top: 220px;
}

h2.welcomeh2{     
    padding: 0;
    margin: 0;
    color: #FFF;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;    
}

