/*#region common */
html{
    scroll-behavior: smooth;
}

a{    
    text-decoration: none;
    color: inherit;
}

body{    
    margin: 0;
    padding: 0;
    background-color: bisque;    
}

.container{
    /* width: 1440px; */
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    background-color: rgb(247,247,247);
    overflow: hidden;
}
/*#endregion*/

/*#region Header */
.header{    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: #0C0C0E;
    color: #FFF;
    padding: 0 20px;
}

.header-header{
    color: #FFF;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
    /* flex-grow: 1; */
}

.header-menu {
    display: flex;
    /* align-items: flex-end; */
    align-items: center;
}

.menu {
    display: flex;
    padding-left: 0;
}

.menu-item{    
    list-style-type: none;
    margin-right: 30px;  
}

.menu-link1 {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    color: #FFF;
    letter-spacing: .1px;
    transition: color 1s;
}

.menu-link1:hover {
    color: #BB945F;
}

.icon-img {    
    width: 28px;
    height: 28px;
    margin-left: 10px;
    cursor: pointer;   
}

.burger{
    display: none;
    margin: 0;
    padding: 0;
    border: none;
}
/*#endregion*/

/*#region Welcome */

section.welcome{
    height: 600px;
    max-width: 1440px;
    background-image: url('../images/welcome.png');
    background-size: 100% 100%;
    position: relative;
}

div.overlay{
    max-width: 1440px;
    height: 300px;
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
}

div.welcomeheader{
    width: 520px;
    height: 150px;
    padding: 35px 40px;
    background-color: #0C0C0E;    
    /* position: relative; */
    position: absolute;
    top: 220px;
}

h2.welcomeh2{    
    padding: 0;
    margin: 0;
    color: #FFF;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;    
}
/*#endregion*/

/*#region About */
section.about{ 
    height: 837px;
    max-width: 1440px;
    box-sizing: border-box;
}

h2.abouth2{
    margin: 20px auto;
    text-align: center;
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

div.abouth2-underline{
    margin: 0 auto;
    width: 50px;
    height: 1px;    
    border-bottom: 1px solid #0C0C0E;    
}

.aboutheader > p{
    max-width: 1440px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 20px;    
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

.images-and-arrows{
    /* height: 601px; */
}

.images-carret{
    display: none;
}

#viewport {
    width: 1400px;
    /* width: 450px;
    height: 560px; */
    overflow: hidden;
}


.images{
    position: relative;
    left: 0;
    transition: .5s;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;  
    margin: 0 auto;

    max-width: 1440px;
    /* max-width: 1400px; */
    height: 560px;

    /* overflow: hidden; */

    gap: 25px;

}

.images > img{
    margin: 0;
    padding: 0;
    width: 450px;
    height: 560px;
    transition-property: all;
    transition-duration: 1s;
}

/* .image-4,
.image-5{
    display: none;
} */

/* -------------------------------------- */

/* инпуты делаем невидимыми */
.images-and-pagination > input {
	display: none;
}

/* блок с шариками */
.images-and-pagination .controls {
    width: 120px;
    height: 26px;
    margin: 35px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: aqua; */
}

/* label, привязанный к input */
.button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;      
    
    width:26px;
    height: 26px;
    border-radius: 50%;
    cursor: pointer;       

    /* background-color: aqua; */
}

/* сами шарики внутри label */
.button-wrapper > div{
    width: 16px;
    height: 16px;    
    border-radius: 50%;
    background-color: #0C0C0E;
}

/* переключение шариков */

#slide1:checked ~ .controls .button-wrapper .button1,
#slide2:checked ~ .controls .button-wrapper .button2,
#slide3:checked ~ .controls .button-wrapper .button3 {
    cursor: auto;
    background-color: #BB945F;
    transition: background ease-in-out .2s;
}

/* 1 */
#slide1:checked ~ .images > .image-4,
#slide1:checked ~ .images > .image-5 {
    /* display: none; */
    /* transform: scale(0); */
}
#slide1:checked ~ .images > .image-1,
#slide1:checked ~ .images > .image-2,
#slide1:checked ~ .images > .image-3 {
    /* display: initial; */
    /* transform: scale(1); */
}

/* 2 */
#slide2:checked ~ .images > .image-1,
#slide2:checked ~ .images > .image-5 {    
    /* display: none;     */
    /* transform: scale(0);     */
}
#slide2:checked ~ .images > .image-2,
#slide2:checked ~ .images > .image-3,
#slide2:checked ~ .images > .image-4 {
    /* display: initial; */
    /* transform: scale(1); */
}

/* 3 */
#slide3:checked ~ .images > .image-1,
#slide3:checked ~ .images > .image-2 {    
    /* display: none; */
    /* transform: scale(0); */
}
#slide3:checked ~ .images > .image-3,
#slide3:checked ~ .images > .image-4,
#slide3:checked ~ .images > .image-5 {
    /* display: initial; */
    /* transform: scale(1); */
}

/* -------------------------------------- */

/* .pagination{
    width: 120px;
    height: 26px;
    margin: 35px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;  
    width:26px;
    height: 26px;
    border-radius: 50%;
    cursor: pointer;       
} */

/* .button-wrapper > div{
    width: 16px;
    height: 16px;    
    border-radius: 50%;
} */

/* div.wrapper1{
    visibility: hidden;
} */


 /* div.button1{
    background-color: #BB945F;
}

div.button2{    
    background-color: #0C0C0E;
}

div.button3{
    background-color: #0C0C0E;
} */

/*
div.button4{
    background-color: #0C0C0E;
}

div.wrapper5{
    visibility: hidden;
}

div.button5{
    background-color: #0C0C0E;
} */

/*#endregion*/

/*#region Favorites */

section.favorites{
    height: 1439px;
    max-width: 1440px;
    /* box-sizing: border-box; */
}

h2.favoritesh2{    
    margin: 0 auto 20px;
    text-align: center;      
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

div.favoritesh2-underline{
    margin: 0 auto;
    width: 50px;
    height: 1px;    
    border-bottom: 1px solid #0C0C0E;    
}

.favorites > p{    
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 20px;

    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.31px;    
}

.block-radio{
    display: flex;
    align-items: center;
    gap: 90px;
    margin-left: 20px;
}

.block-radio-item > input{
    margin-right: 20px;
    accent-color: black;
    width: 16px;
    height: 16px;    
}

.block-radio-item > label{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bg-description{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.book-item{
    width: 550px;
    height: 555px;
    margin: 20px 40px 18px 0;    
    border: 1px solid #000;
    background: #FFF;
    position: relative;
}

.book-item > h3{
    margin: 12px 428px 0px 20px;
    padding: 0;
    width: 528px;
    height: 40px;
    /* background-color: aqua; */
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize; 
}

div.h3-underline{
    margin: 0 0 0 20px;
    padding: 0;
    width: 60px;
    height: 1px;    
    border-bottom: 1px solid #0C0C0E;    
}

p.book-name{
    margin: 20px 0 0 20px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

span.author{
    text-transform: capitalize;
}

p.text-description{
    margin: 20px 0 0 20px;
    width: 355px;
    height: 320px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

button.button-buy{
    margin: 15px 0 0 20px;
    width: 75px;
    height: 30px;
    background-color: #FFF;
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
}

button.button-own{

    margin: 15px 0 0 20px;
    width: 75px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #BB945F;

    color: #BB945F;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;

}

button.button-buy:hover {
    color: #0c0c0e;
    background: #bb945f;
    border: none;
    transition: 1s;
}

img.book-image{
    /* width: 200px; */
    /* height: 300px; */
    /* margin: 0; */
    /* padding: 0; */
    /* display: block; */
    position: absolute;
    left: 390px;
    top: 256px;
}
/*#endregion*/

/*#region Coffee */

section.coffee-shop{    
    height: 841px;
    max-width: 1440px;
    /* background-color: #BB945F;     */
}

h2.coffee-shop-h2{
    margin: 0 auto 20px;
    /* padding: 20px 600px;
    margin: 0; */
    text-align: center;
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

div.coffee-shop-h2-underline{
    margin: 0 auto;
    width: 50px;
    height: 1px;    
    border-bottom: 1px solid #0C0C0E;    
}

.coffee-shop-header > p{
    max-width: 1440px;
    /* height: 120px; */
    /* margin-bottom: 20px;     */
    margin: 40px 0 20px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
}

.coffee-shop-menu{
    display: flex;
    max-width: 1440px;    
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 40px;
    /* gap: 480px; */
    gap: 476px;
}

.coffee-shop-menu1{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.coffee-shop-menu2{   
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 40px;
}

.header-menu{
    margin-top: 0;
    margin-bottom: 0;
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

/* --------------------------------- */
.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.menu-item > p{
    margin: 0;
}

.menu-name {
    width: 199px;
    color: #000000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.menu-line {
    display: block;
    width: 100px;
    height: 1px;
    background: #BB945F;
}

.menu-usd {
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.menu-item2 {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 60px;
}

.menu-item2 > p{
    margin: 0;
}

.menu-name2{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}
/*#endregion*/

/*#region Our contacts */

section.our-contacts{
    height: 575px;
    max-width: 1440px;
    /* background-color: #BB945F;     */
}

h2.our-contacts-h2{

    margin: 0 auto 20px;
    text-align: center;

    /* padding: 20px 600px; */
    /* margin: 0; */

    /* padding: 20px 500px;
    margin: 0; */

    color: #0C0C0E;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

div.our-contacts-h2-underline{
    margin: 0 auto;
    width: 50px;
    height: 1px;    
    border-bottom: 1px solid #0C0C0E;    
}

.our-contacts-blocks{
    display: flex;
    justify-content: space-between; 
    padding: 0 20px 40px;
    margin-top: 40px;
}

.our-contacts-block1{
    width: 704px;
    height: 414px;
    /* margin: 0 20px; */
    padding: 0;

    /* background-color: beige; */
}

.our-contacts-block1 h3{
    color: #000;
    height: 40px;
    /* padding: 0; */
    margin-top: 0;
    margin-bottom: 40px;
    /* padding-bottom: 40px; */
    /* text-align: center; */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

.senior-staff{
    margin-top: 40px;
}

.our-contacts-block2{
    width: 696px;
    height: 414px;
    margin: 0; 
    /* background-color: beige; */
}

.our-contacts-block1 p{
    color: #000;
    /* text-align: center; */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}
/*#endregion*/

/*#region Digital library cards */

section.digital-library-cards{
    height: 614px;
    max-width: 1440px;
    padding-top: 20px;   
    /* background-color: #ecac52;     */
}

h2.digital-library-cards-h2{

    margin-top: 20px;
    margin-bottom: 20px;
    color: #0C0C0E;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
}

div.digital-library-cards-h2-underline{
    margin: 0 auto;
    margin-bottom: 20px;
    width: 50px;
    height: 1px;    
    border-bottom: 1px solid #0C0C0E;    
}

.digital-library-cards-blocks{
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
}

.digital-library-cards-block1{
    width: 600px;
    height: 453px;
    /* height: 386px; */
    margin: 20px 20px;
    /* border: 3px solid #BB945F; */
    /* background: #FFF; */
    /* background-color: beige; */

}

.digital-library-cards-block1 > h3{
    width: 330px;
    margin: 0 auto 30px;  
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
}

.input-fields{  

    width: 594px;
    height: 380px;
    /* margin: 20px; */
    border: 3px solid #BB945F;
    /* background: #BB945F; */
}

.form-1{
    width: 560px;
    height: 272px;
    background: #BB945F;
    margin-top: 17px;
    margin-left: 17px;
    margin-bottom: 17px;
    /* border: 3px solid #BB945F;
    background: #FFF; */
    /* box-sizing: border-box; */
}

.form-1 >p{
    padding-top: 20px;
    padding-left: 20px;
    color: #000;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
}



.input-fields p{
    padding-left: 20px;
    padding-bottom: 20px;
    margin: 0;
    color: #000;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
}


.input-fields input{
    padding: 0 20px;
    width: 480px;
    height: 66px;
    border-radius: 10px;
    background: #FFF;
    border: none;
    margin-left: 20px;
    margin-bottom: 25px;

    color: #8E8E8E;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
}

.check-the-card-button{
    margin-left: 176px;
    /* margin-top: 3px; */
    margin-bottom: 27px;
    /* display: block; */
    padding: 10px 40px;    
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    text-align: center;

    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
}

button.check-the-card-button:hover {
    color: #0c0c0e;
    background: #bb945f;
    border: none;
    transition: 1s;
}

/* block 2 */

.digital-library-cards-block2{
    /* width: 695px; */

    width: 456px;
    height: 253px;

    /* height: 533px; */
    /* height: 614px; */
    /* padding: 0; */
    margin: 0 20px;

    /* background-color: beige; */
}

.digital-library-cards-block2 > h3{
    color: #000;
    /* text-align: center; */
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;

    text-align: right;
    margin-top: 20px;
    margin-bottom: 35px;
}

.digital-library-cards-block2 > p{
    color: #000;
    text-align: right;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.4px;
    margin-bottom: 35px;
}

.buttons{
    text-align: right; 
}

.buttons > button{
    /* display: inline-block; */

    margin-left: 17px;
    width: 75px;
    height: 30px;
    /* padding: 10px 0px;  */

    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
}

.buttons2:hover {
    color: #0c0c0e;
    background: #bb945f;
    border: none;
    transition: 1s;
}
/*#endregion*/

/*#region Footer */

.footer{    
    height: 230px;
    background-color: #0C0C0E;
    padding: 20px 20px 0 20px;
    /* padding: 20px; */
}

/* --- part1 --- */
.footer-part1{
    display: flex;  
    justify-content: space-between;
}

.address{
    margin: 0;
    width: 229px;
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
}

.working-hours{
    margin: 0;
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
}

/* --- part2 --- */
.footer-part2{
    max-width: 1398px;
    height: 40px;

    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.working-days{
    margin: 0;
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
}

.icons-social{
    padding-left: 0;
    margin: 0;
}

ul > li{
    display: inline;
    margin-right: 12px;
}

/* .icons-social > a{
    display: block-inline;
    margin-right: 15px;
} */


/* --- <hr> --- */
.footer > hr{
    margin-top: 28px;
    max-width: 1400px;
    height: 1px;
    border: 0;
    background: #FFF;
}

/* --- part3 --- */
.footer-part3{
    margin-top: 25px;
    /* margin-bottom: 20px; */
    display: flex;  
    justify-content: space-between;
}

.footer-part3-1{
    margin-bottom: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
    letter-spacing: 2px;
}

.footer-part3-2{
    margin-bottom: 0;
    padding-left: 100px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
    letter-spacing: 2px;
}

.footer-part3-3{
    margin-bottom: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 200% */
    letter-spacing: 2px;
}
/*#endregion*/

/*#region Adaptive 1440px */

@media (max-width: 1440px) {
   
    .image-3{
        display: none; 
    }
   
    .images{
        justify-content: space-around;
    }

    div.wrapper1{
        visibility: visible;
    }

    div.button1{
        background-color: #BB945F;
        /* visibility: visible;     */
    }

    div.button2{    
        background-color: #0C0C0E;
    }

    .pagination{
        padding-left: 24px;
    }

    .enable-br{
        display: none;
    }

    .coffee-shop-menu{
        gap: 200px;
    }
}
/*#endregion*/

/*#region Adaptive 1260px */

@media (max-width: 1260px) {

    section.our-contacts{
        height: 1055px;
    }

    .our-contacts-blocks{
        /* display: block; */
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        padding-right: 10px;
        gap: 65px;
    }

}
/*#endregion*/

/*#region Adaptive 1240px */

@media (max-width: 1240px) {
    
    section.favorites{
        height: 2629px;
    }

    .book-item{
        margin-left: 69px;
    }

    .coffee-shop-menu{
        gap: 50px;
    }

}
/*#endregion*/

/*#region Adaptive 1160px */

@media (max-width: 1160px) {
    
    section.digital-library-cards{
        /* width: 768px; */
        height: 857px;
    }

    .digital-library-cards-blocks{
        flex-direction: column;
        align-items: center;
    }

    .digital-library-cards-block1{
        margin-bottom: 0;
    }

    .digital-library-cards-block2{
        width: 600px;
        height: 223px;
    }

    .digital-library-cards-block2 > h3{
        text-align: center;
        margin-bottom: 40px;
    }

    .digital-library-cards-block2 > p{
        text-align: center;
        margin: 0 auto;
    }
    
    .buttons{
        margin-top: 40px;
        text-align: center;
        /* margin-left: 0; */
    }

    .buttons > button{
        margin-left: 10px;
        margin-right: 10px;
    }

}
/*#endregion*/

/*#region Adaptive 1024px */
@media (max-width: 1024px) {

    /****** Header ******/
    .header {
        position: relative;
    }
        
    .menu {
    
        padding-top: 25px;
    
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;        

        position: absolute;
        top: 35px;
        right: 0;
        
        width: 332px;
        height: 507px;
        
        background-color: #0C0C0E;
        /* background-color: grey; */
        z-index: 10;
        
        transition: 1s;
        transform: translateX(100%);
    }
    
    .menu-item{
        margin-right: 0;
        margin-bottom: 30px;
    }
    
    .menu-item:last-child {
        margin-bottom: 0px;
    }

    .burger-menu-open{
        transform: translateX(0%);
    }     
      
    
    /* ------ burger icon animation ------ */
    .burger{  
        /* visibility: visible; */
        display: block;

        cursor: pointer;   
        margin-left: 40px;
        width: 45px;
        height: 20px;
        /* order: 1; */

        /* background-color: aqua; */
        background-color: transparent;
        position: relative;
    }
    
    .burger-line{
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #FFF;
        height: 2px;
        transition: 1s ease;
    }
    
    .burger-line:nth-child(1){
        top: 0;
    }
    
    .burger-line:nth-child(2){
        top: 9px;
    }
    
    .burger-line:nth-child(3){
        top: 19px;
    }
    
    .burger-open .burger-line:nth-child(1){
        top: 9px;
        transform: rotate(135deg);
    }
        
    .burger-open .burger-line:nth-child(2){
        transform: scaleX(0);
    }
    
    .burger-open .burger-line:nth-child(3){
        top: 9px;
        transform: rotate(-135deg);
    }
    /* ------------------------------------ */
    
    
    
    .image-2{
        display: none; 
    }
    
    .images{
        /* justify-content: space-around; */
    }

    /****** About ******/

    .aboutheader > p{
        margin: 40px auto;
        max-width: 728px;
        height: 80px;
    }

    .images-and-arrows{
        margin: 0 auto;
        padding: 0;
        max-width: 614px;
        height: 560px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .images-carret{
        display: initial;
    }

    .pagination{
        padding-left: 0;
    }

    div.wrapper5{
        visibility: visible;
    }

    section.coffee-shop{    
        height: 1481px;        
    }
    
    .coffee-shop-menu{
        /* flex-direction: column; */
        display: block;
    }

    .coffee-shop-menu1{
        margin: 0 auto 0 0;
    }
        
    .coffee-shop-menu2{   
        margin: 40px 0 0 auto;
    }
} 
/*#endregion*/

/*#region Adaptive 768px */

@media (max-width:768px) {

    /****** Welcome ******/
    
    section.welcome{
        height: 600px;
        max-width: 768px;
        background-image: url('../images/welcome-768.png');        
    }

    div.overlay{
        max-width: 768px;
    }

    /****** About ******/

    .images-and-arrows{
        margin: 0 auto;
        padding: 0;
        max-width: 614px;
        height: 560px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .button5,
    .button4{
        display: initial;
    }

    /* .images-link{
        transition: color 2s;
    } */

    /* .images-carret{
        padding: 0;
        margin: 5px;
        border-radius: 50%;
    } */

    /* .images-carret:hover{
        background-color: #BB945F;
           
    } */

    .images-carret{
        display: initial;
    }

    /* .aboutheader > p{
        max-width: 728px;
        height: 80px;
    } */


}
/*#endregion*/

/*#region Adaptive 745px */

@media (max-width: 745px) {

.our-contacts-block2{
    width: 600px;
    height: 357px;
}

.our-contacts-block2 > img{
        width: 95%;
}

.our-contacts-block1{
    width: 600px;
}

.footer-part3-2{
    padding-left: 50px;

}

}
/*#endregion*/

/*#region Adaptive 700px */
@media (max-width: 700px) {

    .book-item{
        margin-left: 10px;
    }

    .footer-part3-2{
        padding-left: 5px;
    
    }
}
/*#endregion*/